@media (max-width: 420px) {
    .holder {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        width: 100% !important;
    }
}

.holder {
    display: flex;
    justify-content: space-around;
    width: 350px;
    text-transform: uppercase;
    color: #3c3c3c;
    font-weight: 500;
    overflow: auto;
}
.holder > div {
    width: fit-content;
    max-width: fit-content;
}
.active {
    color: #0a1931;
}
