.logo {
    position: relative;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    min-width: 40px;
    background-color: #0a1931;
}
@media (max-width: 400px) {
    .logo {
        display: none;
    }
}
.holder {
    display: flex;
    align-items: center;
}

.machina {
    margin-left: 10px;
}

.title {
    color: #0a1931;

    font-size: 15px;
    font-weight: 500;
}

.specs {
    font-size: 14px;
    font-weight: 300;
    color: #3c3c3c;
}

.status {
    position: absolute;
    background-color: #2ecc71;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    right: 2px;
    bottom: 2px;
}
