.holder {
    height: 100%;
    width: 100%;
    position: relative;
}

.graph {
    height: 100%;
    width: 100%;
}

.tooltip {
    position: absolute;
    display: none;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    width: max-content;
}
.bubble {
    position: absolute;
    bottom: -2px;
    left: -2px;
    width: 4px;
    height: 4px;
    background-color: #0a1931;
    border-radius: 50%;
}
