@media (max-width: 710px) {
    .holder {
        width: 100% !important;
        margin: 5px 0 !important;
    }
}

.holder {
    padding-top: 5px;
    border: 1px solid #0a1931;
    width: 300px;
    height: 100px;
    min-height: 100px;
    border-radius: 5px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8px;
}

.title {
    box-sizing: border-box;
    flex: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #0a1931;
}

.info {
    flex: 2;
    display: flex;
    user-select: none;
    align-items: center;
}

.percentage,
.graph {
    flex: 1;
    width: 100%;
    height: 100%;
    border-radius: 0 0 3px 0;
}

.percentage {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a1931;
    font-size: 25px;

    font-weight: 700;
}
