@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@media (max-width: 800px) {
    .container {
        width: 50px !important;
    }
    .icon {
        font-size: 25px !important;
    }
    .name {
        display: none !important;
    }

    .active {
        font-size: 15px !important;
        right: -2px !important;
    }
}
@media (min-width: 800px) {
    .icon {
        font-size: 36px;
    }
}
.name {
    margin: 0;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
}
.container {
    user-select: none;
    cursor: pointer;
    position: relative;
    margin-top: 50px;
    width: 150px;
    height: auto;
    text-align: center;
    color: white;
}

.active {
    font-size: 30px;
    position: absolute;
    right: -3px;
    top: 50%;
    transform: translateY(-50%);
}

.activeContainer{
    position: absolute;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    top: 0;
}